[Desktop Entry]
Name=RemoteDeskURL Scheme Handler
NoDisplay=true
MimeType=x-scheme-handler/remotedesk;
TryExec=remotedesk
Exec=remotedesk %u
Icon=remotedesk
Terminal=false
Type=Application
StartupNotify=false
StartupWMClass=remotedesk
