[Desktop Entry]
Name=RemoteDesk
GenericName=Remote Desktop
Comment=Remote Desktop
Exec=remotedesk %u
Icon=remotedesk
Terminal=false
Type=Application
StartupNotify=true
Categories=Network;RemoteAccess;GTK;
Keywords=internet;
Actions=new-window;
StartupWMClass=remotedesk

X-Desktop-File-Install-Version=0.23

[Desktop Action new-window]
Name=Open a New Window
Exec=remotedesk %u
